:root {
  --blue-600: rgb(55, 125, 255);
  --blue-200: rgba(55, 125, 255, 0.2);
  --gray-500: rgb(130, 137, 151);
  --gray-200: rgb(205, 205, 205);
  --slate-600: rgb(13, 17, 35);
  --font-bold: 700;
  --font-semibold: 600;
  --font-regular: 400;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-5xl: 3rem;
  --rounded-lg: 0.625rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
}
img {
  user-select: none;
}
.container {
  background-color: var(--slate-600);
}

.no-scroll {
  overflow-y: hidden;
}

.btn {
  outline: none;
  border: none;
  color: var(--blue-600);
  background: var(--blue-200);
  padding: 1rem 2rem;
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  border-radius: var(--rounded-lg);
  cursor: pointer;
  transition: transform 100ms ease-out;
}

.btn-primary {
  background-color: var(--blue-600);
  color: white;
}
.btn-primary:active {
  transform: scale(0.9);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  overflow: hidden;
  height: 5rem;
  max-width: 1440px;
  margin: auto;
  padding: 0 1rem;
}

.header {
  background-color: var(--slate-600);
}

.header-hamburger,
.header-close {
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  padding: 1rem;
  margin: -1rem;
  cursor: pointer;
}

.header-close {
  visibility: hidden;
  opacity: 0;
  transform: rotate(45deg);
  z-index: -1;
  pointer-events: none;
  transition: all 100ms ease-out;
}

.header-close.active {
  visibility: visible;
  opacity: 1;
  transform: rotate(0);
  z-index: 1;
  pointer-events: all;
}

.nav {
  position: fixed;
  left: 0;
  top: 5rem;
  background-color: var(--slate-600);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  pointer-events: none;
  transition: all 100ms ease-out;
}

.nav.active {
  opacity: 1;
  z-index: 10;
  visibility: visible;
  pointer-events: all;
}

.nav.active ~ .header-hamburger {
  display: none;
}

.nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-weight: var(--font-semibold);
  width: 100%;
}

.nav ul a {
  color: white;
  padding: 1rem;
  display: block;
  font-size: var(--text-lg);
  position: relative;
  text-decoration: none;
}

.nav-btn {
  margin-left: 1rem;
  margin-top: 1rem;
}

.main {
  position: relative;
}
.hero {
  max-width: 1440px;
  margin: auto;
}
.hero,
.two {
  background-color: var(--slate-600);
}
.two {
  text-align: center;
}

.hero-container,
.section-two,
.div-five {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 4rem 1rem;
  justify-content: space-between;
}
.section-four {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding: 4rem 1rem;
  justify-content: space-between;
}
.fourth-process {
  width: 600px;
}
.section-three {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding-left: 1rem;
  padding-top: 4rem;

  justify-content: space-between;
}

.hero-right {
  padding: 4rem 0;
}

.hero-right img,
.first-process {
  max-width: 100%;
  object-fit: cover;
}

.hero-left h1 {
  font-size: var(--text-5xl);
  color: white;
}

.span-style {
  color: var(--blue-600);
  display: block;
}

.heading-style {
  font-size: var(--text-5xl);
  color: var(--blue-600);
}
.heading-black {
  color: var(--slate-600);
}

.paragraph-text {
  color: var(--gray-500);
  max-width: 45ch;
  font-size: var(--text-lg);
  margin-top: 0.8rem;
  margin-bottom: 1.6rem;
  line-height: 1.5rem;
}
.second-process {
  display: none;
}

.primary-style-underline {
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 24px;
  text-transform: uppercase;
  color: #828997;
  opacity: 0.5;
  text-decoration: underline;
  text-underline-offset: calc(0.3vw);
  text-decoration-thickness: 0.2vw;
}

.wave {
  background-color: #f6f8fd;
}
.wave img {
  width: 100%;
}
.container-two {
  background-color: #f6f8fd;
  margin: auto;
}
.main-two {
  max-width: 1440px;
  margin: auto;
}
.section-three {
  display: flex;
  justify-content: space-between;
}

.learn-more {
  display: flex;
  flex-direction: row;
  background: rgba(55, 125, 255, 0.2);
  border: none;
  color: #377dff;
  transition: 0.2s ease;
  align-items: center;
  gap: 0.3vw;
  text-decoration: none;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
  border-radius: var(--rounded-lg);
  cursor: pointer;
  transition: transform 100ms ease-out;
}
.learn-more:hover {
  background: rgba(108, 157, 247, 0.2);
}

.learn-more:active {
  background: rgba(55, 125, 255, 0.2);
}
.div-five {
  flex-direction: row;
}
.btn-five {
  display: flex;
  justify-content: center;
}
.div-six {
  max-width: 1192px;
  min-height: 15vw;
  display: flex;
  justify-content: space-between;
  background-color: #d9e6ff;
  border-radius: var(--rounded-lg);
  margin: auto;
  margin-top: 5rem;
}
.btn-six {
  margin-top: 3.3rem;
  margin-left: 0.4vw;
}
.sixth-img {
  width: 100%;
  max-width: 510px;
  margin-top: auto;
}

.index-finger {
  border-radius: var(--rounded-lg);
  top: -2.8rem;
  position: relative;
}
.sixth-img {
  border-radius: var(--rounded-lg);
}

.seventh-text {
  position: relative;
  margin-top: 6rem;
  margin-left: 5rem;
}
.heading-small {
  padding-left: 25px;
  font-size: var(--text-5xl);
  margin-top: 4rem;
}
.paragraph-small span {
  color: #3e4567cc;
  font-weight: 600;
}
.paragraph-small {
  padding-top: 20px;
  padding-left: 25px;
  font-size: 1.2rem;
  line-height: 2rem;
}
.paragraph-seven {
  width: 50ch;
  line-height: 2rem;
  margin-bottom: 4rem;
}
.section-seven {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 8rem;
  background-color: #fff;
  padding-bottom: 4rem;
}
.elipse-img {
  position: absolute;
}
.globus {
  width: 60%;
  max-width: 600px;
  max-height: 550px;
  margin-top: auto;
}
.seventh-numbers {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.seventh-numbers span {
  font-size: var(--text-base);
}

.section-eight .primary-style-underline {
  text-align: center;
  padding: 2rem;
}
.section-eight .heading-black {
  text-align: center;
  margin-bottom: 3rem;
}
.section-eight .learn-more {
  margin: auto;
  margin-top: 3rem;
}
.section-eight .paragraph-text {
  color: #323b4b;
}
.section-eight {
  display: flex;
  justify-content: center;
}
.questions-container {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
.answer {
  margin-bottom: 2rem;
  padding: 0.5rem 3.5rem 0.5rem 3.5rem;
  background-color: #fff;
  border-radius: var(--rounded-lg);
  border: 1px solid #fff;
  transition: 0.3s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.answer:hover {
  border: 1px solid black;
}

@media (max-width: 1190px) {
  .section-seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .paragraph-seven {
    max-width: 80ch;
    width: 60ch;
  }
  .globus {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
  }
}

@media (max-width: 1015px) {
  .section-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .third-process {
    margin-left: auto;
  }
  .section-four {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .fourth-process-div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .paragraph-text {
    max-width: 70ch;
  }
  .div-five {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .second-process {
    display: block;
  }
  .first-process {
    display: none;
  }

  .third-process {
    margin: auto;
    width: 100%;
  }
  .fourth-process,
  .fifth-process {
    width: 70vw;
  }
  .second-process {
    width: 50vw;
  }
  .paragraph-seven {
    max-width: 60ch;
    width: 40ch;
  }
  .div-six {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    max-height: 50rem;
  }
  .sixth-img {
    margin-left: auto;
    top: -4rem;
    position: relative;
  }
}

@media (max-width: 540px) {
  .paragraph-seven {
    max-width: 35ch;
    width: auto;
  }
  .seventh-text {
    margin: 13px;
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }

  .hero-right {
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .header-hamburger,
  .header-close {
    display: none;
  }
  .header-container {
    flex-direction: row;
    height: 7.5rem;
  }
  .nav {
    position: static;
    opacity: 1;
    z-index: 10;
    visibility: visible;
    pointer-events: all;
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .nav ul {
    flex-direction: row;
    width: auto;
  }
  .nav ul a {
    padding: 0.8rem 1rem;
  }
  .nav ul a:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    border-bottom: 4px solid transparent;
  }
  .nav ul a:hover::before {
    background: linear-gradient(
      to bottom,
      rgba(55, 125, 255, 0.05) 70%,
      rgba(55, 125, 255, 0.25) 100%
    );
    border-bottom-color: var(--blue-600);
  }
  .nav-btn {
    margin-top: 0;
    margin-left: 3rem;
  }
}
